[submodule "external/ocs2_lib"]
	path = external/ocs2_lib
	url = https://github.com/Gabriel-Ning/ocs2_lib.git
	branch = main
[submodule "external/curobo"]
	path = external/curobo
	url = https://github.com/Gabriel-Ning/curobo.git
	branch = main
[submodule "external/pyroki"]
	path = external/pyroki
	url = https://github.com/Gabriel-Ning/pyroki.git
	branch = main
